<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/displayCocktail.css">
    <title>Display Cocktail</title>
</head>
<body>
    <h1><%= cocktail.drinks[0].strDrink %></h1>
    <img src="<%= cocktail.drinks[0].strDrinkThumb %>" alt="cocktail image"> 
    <br>
    
    <div id="Instructions">
        <b>Instructions: </b> <%= cocktail.drinks[0].strInstructions %>
    </div>
</body>
</html>